.task-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__headline {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin-bottom: 25px;
    }

    &__section {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

.add-task {
    width: 30%;
    border: 0.5px solid #000;
    border-radius: 15px;
    padding: 10px;
    margin: 0 0 15px 0;
}

.confirm-task {
    padding: 10px;
    width: 25%;
    text-align: center;
    border: 0.5px solid black;
    border-radius: 15px;
    cursor: pointer;
}

.tasks {
    &__list {
        width: 100%;
        list-style-type: none;

        padding: 0;
        margin: 0;
    }

    &__item {
        min-width: 200px;
        padding: 10px;
        border: 0.5px solid #000;
        border-radius: 15px;
        margin: 0 0 10px 0;
    }
}

.uncompleted {
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}
