* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
}

input,
button {
  all: unset;
}

.wrapper {
  margin: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  overflow: hidden;

  &__list {
    list-style-type: none;
  }
}
